    <!-- Page Content -->
    <div class="container">
        <div class="events">

            <div class="row">

                <!-- Blog Post Content Column -->
                <div class="col-lg-8">

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1><%= @event.name %>　開催日：<%= @event.date %></h1>

                    <!-- Author -->
                    <p class="lead">
                        主催：<%= link_to @event.organizer, @event.organizer_url if @event.organizer %>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p><span class="glyphicon glyphicon-time"></span> <%= @event.updated_at %> 作成</p>

                    <hr>

                    <!-- Preview Image -->
                    <%= image_tag @event.main_image, class: "show_main_img" %>
                    <hr>

                    <!-- Post Content -->
                    <p class="lead"><%= simple_format(@event.content) %>ここにイベントの概要が入ります。</p>

                </div>

                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>サーチ</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>参加者一覧</h4>
                        <div class="row">
                            <div class="col-lg-6" id="participant">
                                <% @users.each do |user| %>
                                    <% if user.image.url %>
                                        <span><%= image_tag user.image.url, class: "profile_img" %></span>
                                        <p class="arrow_box"><%= user.name %></p>
                                    <% else %>
                                        <span><%= image_tag "wanko.png", class: "profile_img" %></span>
                                        <p class="arrow_box"><%= user.name %></p>
                                    <% end %>
                                <% end %>
                            </div>
                            <%= link_to "参加をキャンセルする", cancel_path(@event.id), class: "cancel", method: :delete, data: {confirm: "本当にキャンセルしますか？"} if reserved?(@users) %>
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Side Widget Well</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                    </div>

                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->
