<div class="top">
  <section class="banner" role="banner">
    <!-- banner text -->
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="banner-text text-center">
          <h1>Make Entre</h1>
          <p>社会と学生の壁を壊し、自身で主体的な人生を掴み取れ！<br>
           </p>
        </div>  
      </div>
    </div>
  </section>
     <!-- banner text -->
       <section class="banner2" role="banner">
    <!-- banner text -->
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
      </div>
    </div>
  </section>
  
     <!-- banner text -->
       <section class="" role="banner">
         <%= image_tag('donyu2.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
    <!-- banner text -->
    <div class="container">
     
      <div class="col-md-10 col-md-offset-1">
      </div>
    </div>
  </section>
  
   <section id="contact" class="quote">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3 style=></h3>
        <a href="http://makeentre.jp" class="btn btn-large" style="margin-bottom:30px;" style="text-decoration:none;">しゃべり場にいく</a>
      </div>
    </div>
  </section>
  
  
  
  
    <!-- step section -->
  <section id="contact" class="">
    <div class="container">
         <h2 style="margin-top:20px;" class="text-center">協賛企業様</h2>
      <p></p>
      <div class="row">
        <div class="col-md-4 col-sm-6 services"> 
          <%= image_tag('makeact_logo.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
          <div class="services-content">
            <h5 class="text-center">株式会社make act様</h5>
            <p class="text-center">
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> 
          <%= image_tag('comming_soon.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
          <div class="services-content">
            <h5 class="text-center">comming soon...</h5>
            <p class="text-center">
            </p>
          </div>
        </div>
         <div class="col-md-4 col-sm-6 services"> 
          <%= image_tag('comming_soon.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
          <div class="services-content">
            <h5 class="text-center">comming soon...</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- step section -->
  
  <!-- step section -->
  <section id="contact" class="">
    <div class="container">
         <h2 class="text-center">アントレまでの成長ステップ図</h2>
      <p></p>
      <div class="row">
        <div class="col-md-4 col-sm-6 services"> 
          <%= image_tag('step1.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
          <div class="services-content">
            <h5 class="text-center">しゃべり場</h5>
            <p class="text-center">
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> 
          <%= image_tag('step2.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
          <div class="services-content">
            <h5 class="text-center">まなび場</h5>
            <p class="text-center">
            </p>
          </div>
        </div>
         <div class="col-md-4 col-sm-6 services"> 
          <%= image_tag('step3.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
          <div class="services-content">
            <h5 class="text-center">つくり場</h5>
            <p class="text-center"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- step section -->


  <!-- our team section -->
  <div class="voice">
  <section id="teams" class="teams">
    <div class="container">
      <div class="row">
       <h2 class="text-center">ユーザーの声</h2>
        <!-- team member 1 -->
        <div class="col-md-4 col-sm-8">
          <div class="person">
           <div class="text-center">
            <%= image_tag('person1.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
            </div>
            <div class="person-content">
              <h4>森谷　繁喜くん</h4>
              <h5 class="role">日本大学 1年生</h5>
              <p>アントレに入って、一歩踏み出すことに不安を感じなくなりました！</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- team member 1 -->
        <!-- team member 2 -->
        <div class="col-md-4 col-sm-8">
          <div class="person">
            <%= image_tag('person2.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
            <div class="person-content">
              <h4>石川　亮くん</h4>
              <h5 class="role">東京福祉大学 2年</h5>
              <p>意見を認め合うことで自分の意見を発言することに抵抗がなくなりました。</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- team member 2 -->
        <!-- team member 3 -->
        <div class="col-md-4 col-sm-8">
          <div class="person">
            <%= image_tag('http://placehold.it/200x200', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
            <div class="person-content">
              <h4>comming soon...</h4>
              <h5 classs="role">comming soon...</h5>
              <p>テスト
            </div>

            <ul class="social-icons clearfix">
              <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- team member 1 -->
      </div>
    </div>
  </section>
  </div>
  
  
  <!-- Get a quote section -->
  <section id="contact" class="quote">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3 style="margin-top:100px;">しゃべり場で楽しい大学生活を過ごしましょう！！</h3>
        <a href="http://makeentre.jp" class="btn btn-large" style="text-decoration:none;">しゃべり場にいく</a>
      </div>
    </div>
  </section>
  
  
  </div>
  <!-- Get a quote section -->
</div>